<div layout="" data-ng-cloak>
  <div layout="column" class="relative" layout-fill role="main">
    <md-toolbar>
      <div class="md-toolbar-tools">

        <md-button aria-label="Icon" class="md-icon-button listLogo" data-ng-click="navigatePage('issues')">
          <img class="logo-image issuesLogo" src="images/rails.png" alt="Logo">
        </md-button>

        <md-button class="md-button" aria-label="Icon" data-ng-click="navigatePage('issues')">
          <md-tooltip>All issues of ruby repository</md-tooltip>
          <span>
            <span>Ruby on Rails</span>
          </span>
        </md-button>
        <span flex></span>

        <md-button class="md-icon-button" aria-label="About project" data-ng-click="navigatePage('about')">
          <md-tooltip>About project</md-tooltip>
          <md-icon>
            <i class="material-icons">face</i>
          </md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="GitHub" data-ng-click="goToGitHub()">
          <md-tooltip>GitHub</md-tooltip>
          <md-icon>
            <i class="material-icons">whatshot</i>
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </div>
</div>
