

<div layout="column" class="relative" layout-fill role="main">
  <md-content flex="">
      <div class="jumbotron">
        <div class="container">

          <h3>GitHub new Issues viewer</h3>
          <p>
            This project is a new Issues viewer for GitHub, using Angular.js, Angular material design & angular-bootstrap UI

            The API documentation is <a href="http://developer.github.com/v3/issues" >here.</a>
          </p>
          <p>
            It has a default page showing Issue number & title, Lables, Reporters username & avatar, summary of the description
            Second page is a Issue details oage which shows Issue titls, state, Labels, Reporters username & avatar & complete summary of the issue.
          </p>
          <p>
            If there are comments then they are present in a readable format

          </p>
          <p>
            <b>For all the pages, there is Server side Pagination & sorting available.
              Wherever search bar is present is a client side search</b>
          </p>
          </div>
        </div>

  </md-content>
</div>
