
<div layout="column" class="relative" layout-fill role="main">

  <md-content flex>
    <div layout-padding="">
        <section id="error" class="container text-center" style="padding-bottom: 10px">
          <div class="jumbotron">
            <div class="container">
              <div class="row">
                <div>
                  <img src="images/errorPage.jpg"img-rounded">
                </div>
                <div>
                  <h1>Oops!</h1>
                  <p> We are soo sorry for the inconvenience.</p>
                  <p>Some problem occured on our end. While we are looking into it feel free to back to home page</p>
                  <p>
                    <a class="btn btn-primary" href="/">GO BACK TO THE HOMEPAGE</a>
                  </p>
                </div>
              </div>

            </div>
          </div>
        </section>

    </div>
  </md-content>
</div>
