<div layout="column" class="relative" layout-fill role="main">

  <md-button class="md-fab md-fab-bottom-right md-mini" aria-label="Back" ui-sref="issues">
    <md-icon>
      <i class="material-icons">keyboard_backspace</i>
    </md-icon>
    <md-toolbar>Back to Issues Page</md-toolbar>
  </md-button>

  <md-content flex="">
    <md-card layout-padding="">
      <md-list>
        <md-list-item class="md-3-line">
          <div class="md-list-item-text ">
            <h2>
              <b ng-bind="issueDetailsCtrl.issueDetails.title"></b>
              <b ng-class="issueDetailsCtrl.issueDetails.state == 'open' ? 'success' : 'error'" ng-bind="' : ' +issueDetailsCtrl.issueDetails.state"> </b>
            </h2>
            <h4>
              <span> #
                <span ng-bind="issueDetailsCtrl.issueDetails.number"></span>
                <span ng-switch on="issueDetailsCtrl.issueDetails.state" class="md-caption">
                  <span ng-switch-when="closed">
                    <span ng-bind="' ' + issueDetailsCtrl.issueDetails.state + ' on '"></span>
                    <span ng-bind="issueDetailsCtrl.issueDetails.closed_at | date: 'mediumDate'"></span>
                  </span>
                  <span ng-switch-default>
                    <span ng-bind="' ' + issueDetailsCtrl.issueDetails.state + 'd on '"></span>
                    <span ng-bind="issueDetailsCtrl.issueDetails.created_at | date: 'mediumDate'"></span>
                  </span>
                </span>
                <span>by </span>

                <userid details="issueDetailsCtrl.issueDetails"></userid>

                </span>
            </h4>
          </div>
        </md-list-item>
        </md-list>
      </md-list-item>

      <md-divider></md-divider>

      <div layout="row" layout-sm="column">
        <div flex-gt-xs="80" >

            <md-list-item>
              <md-button aria-label="User Avatar" class="listLogo">
                <img class="" ng-src="{{issueDetailsCtrl.issueDetails.user.avatar_url}}">
              </md-button>
              <md-card>
                <md-card-header-text class="panel-heading bg-info">
                  <userid details="issueDetailsCtrl.issueDetails"></userid>
                  <span> last updated on </span>
                  <span class="md-caption" ng-bind="issueDetailsCtrl.issueDetails.updated_at | date: 'mediumDate'"></span>
                </md-card-header-text>
                <md-card-content>
                  <span compile="issueDetailsCtrl.issueDetails.body | parseUserId"></span>

                </md-card-content>
              </md-card>
            </md-list-item>

            <md-divider></md-divider>
            <md-list-item ng-repeat="commentsItem in issueDetailsCtrl.commentsData">
              <md-button aria-label="User avatar" class="listLogo">
                <img class="" ng-src="{{commentsItem.user.avatar_url}}">
              </md-button>
              <md-card>
                <md-card-header-text class="panel-heading bg-info">
                  <userid details="commentsItem"></userid>
                  <span> last updated on </span>
                  <span class="md-caption" ng-bind="commentsItem.updated_at | date: 'mediumDate'"></span>
                </md-card-header-text>
                <md-card-content>
                  <span compile="commentsItem.body | parseUserId"></span>
                </md-card-content>

                </md-card>
              <md-divider></md-divider>
            </md-list-item>

            <div layout="row" layout-align="center center">
              <ul uib-pagination
                  total-items="issueDetailsCtrl.totalItems"
                  data-ng-model="issueDetailsCtrl.currentPage"
                  data-ng-change="issueDetailsCtrl.pageChanged(issueDetailsCtrl.currentPage)"
                  items-per-page="issueDetailsCtrl.itemsPerPage"
                  max-size="issueDetailsCtrl.maxPaginationSize"
                  class="pagination-sm"
                  force-ellipses="true">

              </ul>
            </div>

        </div>

        <div flex-gt-xs="20" hide-xs>
          <md-card>
            <md-card-header>
              <md-card-header-text class="issueBlocks">
                <span class="md-subhead">Labels</span>
                <span class="md-subhead"  ng-repeat="labelItem in issueDetailsCtrl.issueDetails.labels">
                  <a class="btn btn-xs" aria-label="Labels" ng-style="issueDetailsCtrl.set_color(labelItem.color)">
                    {{labelItem.name}}
                  </a>
                </span>
              </md-card-header-text>
              <md-card-content>
                </md-card-content>
            </md-card-header>
          </md-card>

          <md-card>
            <md-card-header>
              <md-card-header-text class="issueBlocks">
                <span class="md-subhead">Assignees</span>
                <span class="md-subhead"  ng-repeat="assigneeItem in issueDetailsCtrl.issueDetails.assignees">
                  <md-button aria-label="User avatar" class="md-icon-button">
                    <img class="" ng-src="{{assigneeItem.avatar_url}}">
                  </md-button>
                  <a ng-href="{{assigneeItem.html_url}}" aria-label="Assignees" class="userId">
                    {{assigneeItem.login}}
                  </a>
                </span>
              </md-card-header-text>
              <md-card-content>
              </md-card-content>
            </md-card-header>
          </md-card>

          <md-card>
            <md-card-header>
              <md-card-header-text class="issueBlocks">
                <span class="md-subhead">Milestones</span>
                <span class="md-subhead"  ng-repeat="mileStoneItem in issueDetailsCtrl.issueDetails.milestone">
                  <a ng-href="{{mileStoneItem.html_url}}" aria-label="Milestones">
                    {{mileStoneItem.title}}
                  </a>
                </span>
              </md-card-header-text>
              <md-card-content>
              </md-card-content>
            </md-card-header>
          </md-card>

        </div>
      </div>

      <md-list>
        <md-list-item class="md-3-line md-long-text">
          <div class="md-list-item-text">

          </div>
        </md-list-item>
      </md-list>
    </md-card>
  </md-content>
</div>
